/* Normalizar Margenes y padding en toda la pagina y en todos sus elementos  */
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

/* --------------------------------------------------Index.html...................................................................... */
.navbar_header_cafe{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-between;
    height: 15vh;
    background: #6D6027;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #D3CBB8, #6D6027);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #D3CBB8, #6D6027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.div_header_cafe{
    display: flex;
    align-items: center;
    flex-direction: row;
    font-size: 25px;
    padding-left: 2vh;
}

.div_header_cafe h2{ 
    padding-left: 5vh;
    
}

.navbar_cafe ul{
    display: flex;
    flex-direction: row;
    gap: 12vh;
    margin-right: 5vh;
    list-style-type: none;   
}

.navbar_cafe a{
    text-decoration: none;
    color: black;
    list-style-type: none;
    font-weight: 700;
    opacity: 0.3;   
}

.navbar_cafe a:hover{
    opacity:1;  
    font-size: 17px; 
}

.section_cafe{
    background-image: url(./img/granos.jpg);
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    height: 80vh;
}

.footer_cafe{
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 2vh;
    background: #6D6027;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #D3CBB8, #6D6027);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #D3CBB8, #6D6027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */   
    height: 8vh;
}


@media(max-width: 767px){
    .navbar_header_cafe{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

/* --------------------------------------------------------guia.html----------------------------------------------------------------- */

.body_guia_cafe{
    display: grid;
    /* establece tamaño de filas */
    grid-template-rows: 100px 100px 500px 500px 40px;
    /* establece tamaño de columnas atributo repeat repite la misma medida en las columnas en este caso 4 columnas */
    grid-template-columns: repeat(4, 1fr);
    /* Establece la grilla usar el mismo nombre en el grid-area de cada elemento*/
    grid-template-areas:
        "header header header header"
        "nav nav nav nav"
        "main main main aside"
        "section_1 section_1 section_1 aside"
        "footer footer footer footer ";
}

.navbar_header_guia_cafe{
    background: #6D6027;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #D3CBB8, #6D6027);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #D3CBB8, #6D6027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    grid-area: header;
    display: flex;
    flex-direction: row;
    /* cuando el flex direccion es row se ajusta el texto en el eje x usamos justify */
    /* cuando el flex direccion es column se ajusta el texto en el eje y usamos aling-items */
    justify-content: space-between;
    align-items: center;     
}

.div_header_guia_cafe{
    display: flex;
    align-items: center;
    flex-direction: row;
    font-size: 25px;
    padding-left: 2vh;
}

.div_header_guia_cafe h2{ 
    padding-left: 5vh;
}    

.nav_saludo_guia_cafe{
    grid-area: nav;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    color:darkslategray;
    padding: 4vh;
    background: rgb(109,96,39);
    background: linear-gradient(90deg, rgba(109,96,39,1) 7%, rgba(174,164,132,1) 51%, rgba(211,203,184,1) 94%);
    border: #6D6027 solid 0.1vh;
}

.main_guia_cafe{
    grid-area: main;
    background-color:#D3CBB8;
    text-align: center;
    font-size: 15px;
    font-weight: 300;
    overflow: auto;
    padding: 5vh;
    border:darkgray solid 0.4vh;
  
}

.tamaño_titulo_cafe{
    font-size: 25px;
    font-weight: 700;
    text-decoration: underline;
}

.tamaño_subtitulos_cafe{
    font-size: 18px;
    text-decoration: underline;
    font-weight: 700;
}

.pasos_para_servir_un_buen_cafe{
    grid-area:section_1;
    display: flex;
    flex-direction:column ;
    align-content: center;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    font-size: 15px;
    background-color:#D3CBB8;
    border:darkgray solid 0.4vh;
    border-bottom: darkgray solid 0.8vh;
}

.titulo_servir_cafe{
    font-size: 25px;
    text-decoration: underline;
}

.lista_servir_cafe{
    font-size: 18px;
    font-weight: 700;
}

.aside_cafe{
    grid-area: aside;
    background-color:#D3CBB8;
}

.footer_guia{
    grid-area: footer;
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 2vh;  
    background: #6D6027;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #D3CBB8, #6D6027);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #D3CBB8, #6D6027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

