/* Normalizar Margenes y padding en toda la pagina y en todos sus elementos  */
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    /* Deja sin atributos todos los textos, ejemplo subrayado de link */
    /* color: black */
    /* Texto por defecto en negro */
}

/* Ajusta la letra por defecto a 10px 
html{
    font-size: 10px;
}
*/
/* Selector por tipo de etiqueta  
p{
    font-size: 1.5rem;
    padding: 1rem;
}
h2{ 
    text-shadow: 5px 5px 5px black;
    text-decoration-line: underline;
}
*/
/* ---------------------------------Proyecto Cafe------------------------------------------------------------------------------- */
/*Preponderancia de propiedades las diferentes se van sumando y las repetidas solo queda la que tiene mayor jerarquia  (Escala de <importancia)  
1.Important corta toda precedencia que traiga de otras directivas (id,estilos en linea, clases, etiquetas, su uso debe ser limitado
2.Estilo en linea (style) se usa directamente donde se quiere aplicar
3.id
4.Clase (Class)
5.etiquetas
/* usar import para linkear fuentes externas se utiliza desde la hoja estilos se usa para dar la misma fuente a todo el proyecto, tambien podemos linkear poniendo el link en el head de cada pagina
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap');
  */
/* Selector por tipo de etiqueta*/
/* h1{
    color:brown
}
section{
    background-color: aqua;
}
*/


/* Elegir tipo de letra para toda la pagina, y color de fondo */
.body_cafe {
    font-family: 'Oswald', sans-serif;
    background-color: aqua;
    display: grid;
    grid-template-rows: 300px 600px 250px 220px 50px 50px;
    grid-template-columns: 1.5fr 1.5fr;
    grid-template-areas:
        "header header"
        "section_1 form"
        "section_2 form"
        "section_3 form"
        "div div"
        "footer footer"
}

/* Selector por clases */
/* Dando propiedades a la imagen de fondo,color de fondo,url, altura y que no se repita continuamente la imagen,que cubra todo el espacio,que se posicione al centro,padding y tamaño de la fuente */
.imagen_de_fondo_header_cafe {
    background-color: darksalmon;
    background-image: url(./img/granos.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 1rem;
    font-size: 3rem;
    grid-area: header;
    display: flex;
    flex-direction: row;
    justify-content: left;
    border-bottom: solid black;
}

.color_de_texto_cafe {
    color: black;
}

.titulo_cafe {
    color: blue;
    font-size: 50px;
}

.tamaño_subtitulos_cafe {
    font-weight: 700;
    font-size: 2.5rem;
    padding: 1rem;
    text-decoration: underline;
}

.pasos_para_servir_un_buen_cafe {
    background-color: darksalmon;
    background-image: url(./img/pattercoffe.jpg);
    background-repeat: no-repeat;
    /* Cover adapta la imagen al tamaño de la pantalla   */
    background-size: cover;
    background-position: center;
    grid-area: section_1;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid black;
    padding-bottom: 1rem;
}

.pasos_para_servir_un_buen_cafe ol li {
    font-size: 1.5rem;
    font-weight: 700;
}

.tipos_de_cafe_cafe {
    background-color: darksalmon;
    background-image: url(./img/pattercoffe.jpg);
    background-repeat: no-repeat;
    /* Cover adapta la imagen al tamaño de la pantalla   */
    background-size: cover;
    background-position: center;
    grid-area: section_2;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid black;
}

.tipos_de_cafe_cafe ul li {
    font-size: 1.5rem;
    font-weight: 700;
}

.tipos_de_granos_cafe {
    background-color: darksalmon;
    background-image: url(./img/pattercoffe.jpg);
    background-repeat: no-repeat;
    /* Cover adapta la imagen al tamaño de la pantalla   */
    background-size: cover;
    background-position: center;
    grid-area: section_3;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid black;
}

.tipos_de_granos_cafe ul li {
    font-size: 1.5rem;
    font-weight: 700;
}

.contenido_cafe {
    background-color: white;
    grid-area: form;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid black;
    overflow: auto;
    padding: 1rem;
}

.volver_a_titulo_cafe {
    background-color: white;
    grid-area: div;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: solid black;
    justify-content: space-between;
}

.footer_cafe {
    background-color: white;
    grid-area: footer;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: solid black;
    justify-content: left;
}

/* Selector por id solo se puede usar 1 solo id */
#ir_a_titulo {
    background-color: darksalmon;
}
